/* Text Styling */
body { font-size: 62.5%; }
.event-container .event-name { font-size: 0.7rem; }
.event-container  .marker-container, .event-location { font-size: 0.6rem; }
.event-time-container { font-size: 0.5rem; }
.event-container .remove-event { font-size: 0.4rem; }

body { font-family: sans-serif; }
.marker-container, .event-time-container, .event-name, .event-location { text-align: center; }
#calendar-app, #calendar-events-wrapper, #calendar-markers-wrapper, #calendar-events, #calendar-markers { vertical-align: top; }

/* Display and Position */
#calendar-app, #calendar-events-wrapper, #calendar-markers-wrapper { vertical-align: top; }
.event-start, .event-end, .remove-event, #calendar-events-wrapper, #calendar-markers-wrapper { display: inline-block; }
#calendar-markers-wrapper { position: static; }
#calendar-events, #calendar-markers, #calendar-markers-wrapper, #calendar-events-wrapper { position: relative; }
.event-container, .marker-container, .remove-event { position: absolute; box-sizing: border-box; }

/* Margins and Padding */
#calendar-app { margin: 10px; }
.module {  margin: 10px 0; }
.module.info { padding-bottom: 5px; }
.remove-event {
  padding: 5px;
  cursor: pointer;
  right: 0;
  bottom: 0;
}
h1, h3 { margin-bottom: 2px; }
.subtitle { padding-left: 10px; }
.event-container, .marker-container { padding: 2px; }
#calendar-events-wrapper { padding: 0 10px; }
#calendar-markers-wrapper { padding: 0 5px; }
.marker-major .time { padding-right: 4px; }
.event-name, .event-location { padding-bottom: 2px; }

/* Borders and Backgrounds */
.event-container {
  border-width: 1px;  
  border-left-width: 5px;
  border-style: solid;
  border-color: rgb(0,94,149);
  background-color: #FFFFFF; 
}
#calendar-events-wrapper {
  border-width: 2px;
  border-style: solid;
  border-color: #005e95;
  background-color: rgb(211,211,211);
}
#calendar-events-background {
  background-size: 10px 60px;
  background-image: 
        -webkit-linear-gradient(right, 
          rgba(211,211,211,1) 0px, 
          rgba(211,211,211,1) 5px, 
          rgba(211,211,211,0) 5px, 
          rgba(211,211,211,0) 10px),
        -webkit-linear-gradient(top, 
          rgba(0,94,149,1) 0px, 
          rgba(0,94,149,1) 1px, 
          rgba(0,94,149,0) 1px, 
          rgba(0,94,149,0) 60px);
}

/* Height and Width  */
#calendar-events-wrapper, #calendar-markers-wrapper, #calendar-events, #calendar-markers, #calendar-app {
  height: 720px;
}
#calendar-app {
  width: 700px;
}
#calendar-events-wrapper, #calendar-events {
  width: 620px;
}
#calendar-markers, #calendar-markers-wrapper {
  width: 40px;
}
.event-container {
  width: 100%;
}
#calendar-events-background {
  width: 100%;
  height: 100%;
}

/* Time Label-Specific Styles */
.time {
  font-weight: bold;
}
.suffix {
  font-variant: small-caps;
}
.marker-major .time {
  color: #222222;
}
.marker-minor, .suffix {
  color: #7b7b7b;
}
.marker-minor .time {
  text-align: right;
}
.marker-minor, .marker-major {
  font-size: 0.8rem;
}
.right {
  position: absolute;
  right: 0px;
}







